<footer class="bg-primary text-light text-center py-2 ">
	<div class="container-fluid">
		<p>&copy; 2024 MalikAuto - Tous droits réservés</p>
		<p>Contactez-nous : contact@malikauto.com</p>
	</div>
</footer>
