<div>
	<a style='text-decoration: underline' class="nav-link text-center" href="{{ path('app_mention') }}">Mentions légales</a>
</div>
<footer class="bg-primary text-light text-center py-2" style="width: 100vw; position: absolute; left: 0;">
	<p>&copy; 2024 MalikAuto - Tous droits réservés</p>
	<p>Contactez-nous : contact@malikauto.com</p>
</footer>
