{% extends 'base.html.twig' %}

{% block title %}MalikAuto - Modification du mot de passe de l'utilisateur
{% endblock %}

{% block body %}
	<div class="container">
		<div class="d-flex m-4 justify-content-end">
			<a href="{{ path('app_admin') }}" class="btn btn-primary">
				Retour
			</a>
		</div>
		<h1 class="mt-4">Formulaire de modification de mot de passse de l'utilisateur</h1>

		{% for message in app.flashes('warning') %}
			<div class="alert alert-warning mt-4">
				{{ message }}
			</div>
		{% endfor %}

		{{ form(form) }}
		</div>
	{% endblock %}
